<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="cn.lcp.fcct.mapper.TPwPurchaseReviewMapper">

	<sql id="base_columns">
            purchase_check_id,
            purchase_id,
            check_status,
            memo,
            staff_id,
            check_time
	</sql>
	
	<insert id="insertData" parameterType="cn.lcp.fcct.po.TPwPurchaseReviewDO"
	useGeneratedKeys="true" keyProperty="purchaseCheckId">
		insert into t_pw_purchase_review (
			<include refid="base_columns" />
		)
		values(
             #{purchaseCheckId},
             #{purchaseId},
             #{checkStatus},
             #{memo},
             #{staffId},
             #{checkTime}
		)  
	</insert>
	
	
	<select id="getById" parameterType="java.lang.Integer" resultType="cn.lcp.fcct.po.TPwPurchaseReviewDO">
		SELECT
			<include refid="base_columns" />
		FROM t_pw_purchase_review WHERE purchase_check_id = #{purchaseCheckId}
	</select>

	<select id="getAll" resultType="cn.lcp.fcct.po.TPwPurchaseReviewDO">
		SELECT
		<include refid="base_columns" />
		FROM t_pw_purchase_review
	</select>

	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM t_pw_purchase_review WHERE purchase_check_id = #{purchaseCheckId}
	</delete>
	

	<update id="updateData" parameterType="cn.lcp.fcct.po.TPwPurchaseReviewDO">
		update t_pw_purchase_review
		<set>
                <if test="purchaseId!= null">
                        purchase_id = #{purchaseId},
                </if>
                <if test="checkStatus!= null">
                        check_status = #{checkStatus},
                </if>
                <if test="memo!= null">
                        memo = #{memo},
                </if>
                <if test="staffId!= null">
                        staff_id = #{staffId},
                </if>
                <if test="checkTime!= null">
                        check_time = #{checkTime},
                </if>

		</set>
			WHERE purchase_check_id = #{purchaseCheckId}
	</update>
	

</mapper>