<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="cn.lcp.fcct.mapper.TPwStaffInfoMapper">

	<sql id="base_columns">
            staff_id,
            staff_alias_name,
            staff_real_name,
            staff_email,
            role_id,
            com_id,
            staff_icon,
            staff_pwd,
            staff_tel,
            wx_union_id,
            wx_open_id,
            staff_dashboard,
            staff_ip,
            staff_status,
            create_time,
            last_update_time,
            dept_id
	</sql>
	
	<insert id="insertData" parameterType="cn.lcp.fcct.po.TPwStaffInfoDO"
	useGeneratedKeys="true" keyProperty="staffId">
		insert into t_pw_staff_info (
			<include refid="base_columns" />
		)
		values(
             #{staffId},
             #{staffAliasName},
             #{staffRealName},
             #{staffEmail},
             #{roleId},
             #{comId},
             #{staffIcon},
             #{staffPwd},
             #{staffTel},
             #{wxUnionId},
             #{wxOpenId},
             #{staffDashboard},
             #{staffIp},
             #{staffStatus},
             #{createTime},
             #{lastUpdateTime},
             #{deptId}
		)  
	</insert>
	
	
	<select id="getById" parameterType="java.lang.Integer" resultType="cn.lcp.fcct.po.TPwStaffInfoDO">
		SELECT
			<include refid="base_columns" />
		FROM t_pw_staff_info WHERE staff_id = #{staffId}
	</select>

	<select id="getAll" resultType="cn.lcp.fcct.po.TPwStaffInfoDO">
		SELECT
		<include refid="base_columns" />
		FROM t_pw_staff_info
	</select>

	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM t_pw_staff_info WHERE staff_id = #{staffId}
	</delete>
	

	<update id="updateData" parameterType="cn.lcp.fcct.po.TPwStaffInfoDO">
		update t_pw_staff_info
		<set>
                <if test="staffAliasName!= null">
                        staff_alias_name = #{staffAliasName},
                </if>
                <if test="staffRealName!= null">
                        staff_real_name = #{staffRealName},
                </if>
                <if test="staffEmail!= null">
                        staff_email = #{staffEmail},
                </if>
                <if test="roleId!= null">
                        role_id = #{roleId},
                </if>
                <if test="comId!= null">
                        com_id = #{comId},
                </if>
                <if test="staffIcon!= null">
                        staff_icon = #{staffIcon},
                </if>
                <if test="staffPwd!= null">
                        staff_pwd = #{staffPwd},
                </if>
                <if test="staffTel!= null">
                        staff_tel = #{staffTel},
                </if>
                <if test="wxUnionId!= null">
                        wx_union_id = #{wxUnionId},
                </if>
                <if test="wxOpenId!= null">
                        wx_open_id = #{wxOpenId},
                </if>
                <if test="staffDashboard!= null">
                        staff_dashboard = #{staffDashboard},
                </if>
                <if test="staffIp!= null">
                        staff_ip = #{staffIp},
                </if>
                <if test="staffStatus!= null">
                        staff_status = #{staffStatus},
                </if>
                <if test="createTime!= null">
                        create_time = #{createTime},
                </if>
                <if test="lastUpdateTime!= null">
                        last_update_time = #{lastUpdateTime},
                </if>
                <if test="deptId!= null">
                        dept_id = #{deptId},
                </if>

		</set>
			WHERE staff_id = #{staffId}
	</update>
	

</mapper>